.banner {
    background: url("img/nen.jpg") no-repeat center center;
    background-size: cover; /*Hình ảnh có thể bị cắt để lấp đầy toàn bộ phần tử*/
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-align: center !important;
    color: white; !important;
    font-size: 25px;
}

.slogan {
    text-align: center;
    width: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #E6E6FA;
}

.block_3 {
    flex: 0 0 auto;
    width: 30%;
    margin: 10px;
    }

.footer {
    background-color: lightgrey;
    margin: 1px;
    padding: 10px;
}

.link {
    color: navy;
    text-align: left;
}

.cell_img {
    width: 50%;
   }

.cell_text {
    width: 50%;
    padding-left: 5rem;
    font-size: 100%;
    
}

.img {
    width: 100%;
    height: 100%;
}

.menu {
    font-size: 150%;
    text-decoration: none;
	width: 20%;
	 background-color: pink;
}
a:hover{
    color: magenta


